section#stack {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

article.stack-article {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.stack-photo {
    margin: 0;
}

.stack-photo img {
    width: 32rem;
}

/* TABLETS */
@media (max-width: 1024px) {
    .stack-photo {
        width: 100%;
        max-width: 24rem;
    }

    .stack-photo img {
        width: 100%;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    .stack-photo {
        width: 100%;
    }

    .stack-photo img {
        width: 100%;
    }
}