html {
    margin: 0;
    font-size: 16px;
}

body {
    color: #fafafa;
    background-color: #27272a;
    font-family: Montserrat, sans-serif;
    padding: 1rem 8rem;
}

a {
    color: #a78bfa;
}

a:hover {
    color: #c4b5fd
}

header h1 {
    color: #f97316;
    font-size: 6rem;
    margin: 0;
}

header h2 {
    margin-top: -0.5rem;
    color: #c4b5fd;
    font-weight: normal;
}

section.global-section {
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    min-height: 24rem;
}

h2 {
    color: #f97316;
}

footer {
    width: 100%;
}

footer section.contacts {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

footer p {
    color: rgba(167, 139, 250, 0.5);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer section.contacts img {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    object-fit: cover;
    border-radius: 1rem;
    transition: background-color 100ms ease-in-out;
}

footer section.contacts img:hover {
    background-color: rgba(167, 139, 250, 0.1);
}

/* TABLETS */
@media (max-width: 1024px) {
    body {
        padding: 2rem 2rem;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    body {
        padding: 2rem 2rem;
    }

    header h1 {
        font-size: 8rem;
    }
}