body {
    color: #fafafa;
    background-color: #27272a;
    font-family: Montserrat, sans-serif;
    padding: 1em 8em;
}

a {
    color: #c4b5fd;
}

header h1 {
    color: #f97316;
    font-size: 6em;
    margin: 0;
}

header h2 {
    margin-top: -0.5em;
    color: #c4b5fd;
    font-weight: normal;
}

section.global-section {
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    min-height: 24em;
}

h2 {
    color: #f97316;
}

footer {
    width: 100%;
}

footer section.contacts {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

footer p {
    color: rgba(167, 139, 250, 0.5);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer section.contacts img {
    width: 2em;
    height: 2em;
    padding: 0.5em;
    object-fit: cover;
    border-radius: 1em;
    transition: background-color 100ms ease-in-out;
}

footer section.contacts img:hover {
    background-color: rgba(167, 139, 250, 0.1);
}